In [16]:
#사이킷런에서 제공하는 캘리포니아 주택 가격 데이터셋 사용

import xlrd
import pandas as pd

test = pd.read_excel('cal_housing.xlsx', header = None)
test.head()

                                                   0
0  -122.230000,37.880000,41.000000,880.000000,129...
1  -122.220000,37.860000,21.000000,7099.000000,11...
2  -122.240000,37.850000,52.000000,1467.000000,19...
3  -122.250000,37.850000,52.000000,1274.000000,23...
4  -122.250000,37.850000,52.000000,1627.000000,28...

In [17]:
housing = pd.DataFrame(test[0].apply(lambda v : v.split(sep = ',')).tolist(),
                      columns = ('longitude', 'latitude', 'housingMedianAge', 'totalRooms',
                                'totalBedrooms', 'population', 'households', 'medianIncome', 'medianHouseValue'))
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   longitude         20640 non-null  object
 1   latitude          20640 non-null  object
 2   housingMedianAge  20640 non-null  object
 3   totalRooms        20640 non-null  object
 4   totalBedrooms     20640 non-null  object
 5   population        20640 non-null  object
 6   households        20640 non-null  object
 7   medianIncome      20640 non-null  object
 8   medianHouseValue  20640 non-null  object
dtypes: object(9)
memory usage: 1.4+ MB

In [18]:
housing = housing.astype(float)
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   longitude         20640 non-null  float64
 1   latitude          20640 non-null  float64
 2   housingMedianAge  20640 non-null  float64
 3   totalRooms        20640 non-null  float64
 4   totalBedrooms     20640 non-null  float64
 5   population        20640 non-null  float64
 6   households        20640 non-null  float64
 7   medianIncome      20640 non-null  float64
 8   medianHouseValue  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [19]:
housing.head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [20]:
housing['AvgRooms'] = housing['totalRooms'].div(housing['households'], axis = 0)

In [21]:
housing.head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue,AvgRooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,6.984127
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,6.238137
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,8.288136
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,5.817352
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,6.281853

In [24]:
housing.shape

(20640, 10)

In [25]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   longitude         20640 non-null  float64
 1   latitude          20640 non-null  float64
 2   housingMedianAge  20640 non-null  float64
 3   totalRooms        20640 non-null  float64
 4   totalBedrooms     20640 non-null  float64
 5   population        20640 non-null  float64
 6   households        20640 non-null  float64
 7   medianIncome      20640 non-null  float64
 8   medianHouseValue  20640 non-null  float64
 9   AvgRooms          20640 non-null  float64
dtypes: float64(10)
memory usage: 1.6 MB