In [29]:
#데이터 파일 확인
import pandas as pd
import numpy as np

data = pd.read_csv('공공보건 의료기관 현황_20161231.csv', index_col = 0, encoding = 'cp949', engine = 'python')
data.head()

,병원 명,설립형태,근거 법령,관계 행정기관,관계 공공단체,심평원 요양기관번호,종별구분,병상수,소재지 우편번호,주소,홈페이지,대표전화,FAX,비고
연번,,,,,,,,,,,,,,
1,강원도 재활병원,시도립,강원도재활병원설치및운영에관한조례,강원도,해당없음,32200641,병원,165,24227,강원도 춘천시 충열로 142번길 24-16,www.grh.or.kr,033-248-7700,033-248-7723,NaN
2,강원도 삼척의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100060,종합병원,152,25920,강원도 삼척시 오십천로 418,http://ksmc.or.kr,033-572-1141,033-573-8424,NaN
3,강원도 영월의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100078,종합병원,214,26234,강원도 영월군 영월읍 중앙1로 59,http://www.youngwol.org,033-370-9117,033-370-9137,NaN
4,강원도 원주의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100086,종합병원,237,26448,강원도 원주시 서원대로 387(개운동),www.kwmc.or.kr,033-760-4500,033-761-5121,NaN
5,강원도 강릉의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100159,종합병원,137,25535,강원도 강릉시 경강로 2007(남문동 164-1),http://www.gnmc.or.kr,033-646-6910,033-610-1415,NaN

In [87]:
#병원명 분리하기

#연번 없이 병원 명만 따로 가져오기 힘들어 부득이 csv로 바꾼 후, '연번'과 '설립형태'를 제거하고 다시 값을 가져옴
tmp = data[['병원 명', '설립형태']]
tmp.to_csv('tmp.csv', encoding = 'cp949', index = True)

            병원 명  설립형태
연번
1       강원도 재활병원   시도립
2      강원도 삼척의료원  특수법인
3      강원도 영월의료원  특수법인
4      강원도 원주의료원  특수법인
5      강원도 강릉의료원  특수법인
..           ...   ...
216    청풍호노인사랑병원  시군구립
217   충주시 노인전문병원  시군구립
218   충청북도 충주의료원  특수법인
219   영동군립노인전문병원  시군구립
220  단양군노인요양전문병원  시군구립

[227 rows x 2 columns]

In [89]:
#수동으로 가공한 csv를 다시 가져옴
hospital = pd.read_csv('tmp.csv', encoding = 'cp949', engine = 'python')

hospital

            병원 명
0       강원도 재활병원
1      강원도 삼척의료원
2      강원도 영월의료원
3      강원도 원주의료원
4      강원도 강릉의료원
..           ...
222    청풍호노인사랑병원
223   충주시 노인전문병원
224   충청북도 충주의료원
225   영동군립노인전문병원
226  단양군노인요양전문병원

[227 rows x 1 columns]

In [96]:
#주소 정리하기
addr = pd.DataFrame(data['주소'].apply(lambda v : v.split(' ', 2)[0 : 3]).tolist(), columns = ('시도', '구군', '상세주소'))
addr.head()

    시도   구군                 상세주소
0  강원도  춘천시      충열로 142번길 24-16
1  강원도  삼척시             오십천로 418
2  강원도  영월군          영월읍 중앙1로 59
3  강원도  원주시        서원대로 387(개운동)
4  강원도  강릉시  경강로 2007(남문동 164-1)

In [97]:
addr['시도'].unique()

array(['강원도', '경기도', '경기', '경남', '창원시', '경상남도', '경상북도', '경산시', '경북',
       '인천광역시', '대구광역시', '전라남도', '대전광역시', '광주광역시', '제주특별자치도', '부산광역시',
       '전라북도', '충북', '서울특별시', '서울시', '부산특별시', '대전시', '충남', '전남', '충청남도',
       '울산광역시', '전북', '천안시', '충청북도'], dtype=object)

In [98]:
#주소 체계에 맞지 않게 표현된 내용 찾아서 수정

#'시'가 아닌 데이터 찾아서 수정
addr[addr['시도'] == '창원시']

     시도           구군           상세주소
27  창원시          의창구  북면 단내로 499-32
31  창원시  마산합포구3.15대로            231

In [99]:
addr.iloc[27] = ['경상남도', '창원시', '의창구 북면 단내로 499-32']
addr.iloc[31] = ['경상남도', '창원시', '마산합포구3.15대로 231']
addr['시도'].unique()

array(['강원도', '경기도', '경기', '경남', '경상남도', '경상북도', '경산시', '경북', '인천광역시',
       '대구광역시', '전라남도', '대전광역시', '광주광역시', '제주특별자치도', '부산광역시', '전라북도',
       '충북', '서울특별시', '서울시', '부산특별시', '대전시', '충남', '전남', '충청남도', '울산광역시',
       '전북', '천안시', '충청북도'], dtype=object)

In [100]:
addr[addr['시도'] == '경산시']

     시도   구군   상세주소
47  경산시  경안로  23-10

In [101]:
addr.iloc[47] = ['경상북도', '경산시', '경안로 23-10']

In [102]:
addr[addr['시도'] == '천안시']

      시도   구군                   상세주소
209  천안시  동남구           충절로 537(삼룡동)
210  천안시  동남구  목천읍 삼방로 735(천안시립노인병원)

In [103]:
addr.iloc[209] = ['충청남도', '천안시', '동남구 충절로 537(삼룡동)']
addr.iloc[210] = ['충청남도', '천안시', '동남구 목천읍 삼방로 735(천안시립노인병원)']

In [104]:
addr['시도'].unique()

array(['강원도', '경기도', '경기', '경남', '경상남도', '경상북도', '경북', '인천광역시', '대구광역시',
       '전라남도', '대전광역시', '광주광역시', '제주특별자치도', '부산광역시', '전라북도', '충북',
       '서울특별시', '서울시', '부산특별시', '대전시', '충남', '전남', '충청남도', '울산광역시', '전북',
       '충청북도'], dtype=object)

In [105]:
#행정구역 주소 체계에 맞지 않는 데이터 수정
addr_aliases = {'경기' : '경기도', '경남' : '경상남도', '경북' : '경상북도', '충북' : '충청북도',
                '서울시' : '서울특별시', '부산특별시' : '부산광역시', '대전시' : '대전광역시',
                '충남' : '충청남도', '전남' : '전라남도', '전북' : '전라북도'}
addr['시도'] = addr['시도'].apply(lambda s : addr_aliases.get(s, s))

addr['시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '인천광역시', '대구광역시', '전라남도', '대전광역시',
       '광주광역시', '제주특별자치도', '부산광역시', '전라북도', '충청북도', '서울특별시', '충청남도',
       '울산광역시'], dtype=object)

In [106]:
#구군 열 수정
addr['구군'].unique()

array(['춘천시', '삼척시', '영월군', '원주시', '강릉시', '속초시', '정선군', '수원시', '이천시',
       '안성시', '의정부시', '포천시', '파주시', '용인시', '평택시', '시흥시', '여주시', '남양주시',
       '동두천시', '안산시', '부천시', '통영시', '사천시', '창원시', '김해시', '양산시', '거창군',
       '남해군', '의령군', '포항시', '김천시', '안동시', '울진군', '경주시', '구미시', '영주시',
       '상주시', '문경시', '경산시', '의성군', '청도군', '고령군', '칠곡군', '봉화군', '울릉군',
       '부평구', '북구', '순천시', '대덕구', '태백시', '동해시', '화성시', '광산구', '남구', '중구',
       '아란13길', '서구', '전주시', '진주시', '청주시', '종로구', '성남시', '동구', '화순군',
       '강동구', '사상구', '달서구', '해운대구', '유성구', '가평군', '양주시', '고양시', '홍천군',
       '양구군', '청원군', '계룡시', '논산시', '함평군', '양평군', '수성구', '달성군', '연수구',
       '노원구', '기장군', '공주시', '강북구', '광진구', '나주시', '창녕군', '목포시', '고흥군',
       '연제구', '동매로', '서초구', '은평구', '중랑구', '강남구', '동작구', '동대문구', '양천구',
       '성동구', '송파구', '울주군', '계양구', '옹진군', '보성군', '광양시', '영광군', '무안군',
       '진도군', '강진군', '곡성군', '여수시', '신안군', '장성군', '완주군', '부안군', '정읍시',
       '남원시', '군산시', '고창군', '진안군', '제주시', '서귀포시', '천안시', '보령시', '서산시',
       '서천군', '홍성군', '제천시', '충주시', '영동군', '단양군'], dtype=object)

In [107]:
addr[addr['구군'] == '아란13길']

         시도     구군      상세주소
75  제주특별자치도  아란13길  15(아라일동)

In [108]:
addr.iloc[75] = ['제주특별자치도', '제주시', '아란13길 15(아라일동)']

In [110]:
#모든 주소 합치기
addr['총 주소'] = addr.apply(lambda r : r['시도'] + ' ' + r['구군'] + ' ' + r['상세주소'], axis = 1)
addr.head()

    시도   구군                 상세주소                         총 주소
0  강원도  춘천시      충열로 142번길 24-16      강원도 춘천시 충열로 142번길 24-16
1  강원도  삼척시             오십천로 418             강원도 삼척시 오십천로 418
2  강원도  영월군          영월읍 중앙1로 59          강원도 영월군 영월읍 중앙1로 59
3  강원도  원주시        서원대로 387(개운동)        강원도 원주시 서원대로 387(개운동)
4  강원도  강릉시  경강로 2007(남문동 164-1)  강원도 강릉시 경강로 2007(남문동 164-1)

In [112]:
#병원명 더하기
addr_merge = pd.merge(addr, hospital, left_index = True, right_index = True)
addr_merge.head()

    시도   구군                 상세주소                         총 주소       병원 명
0  강원도  춘천시      충열로 142번길 24-16      강원도 춘천시 충열로 142번길 24-16   강원도 재활병원
1  강원도  삼척시             오십천로 418             강원도 삼척시 오십천로 418  강원도 삼척의료원
2  강원도  영월군          영월읍 중앙1로 59          강원도 영월군 영월읍 중앙1로 59  강원도 영월의료원
3  강원도  원주시        서원대로 387(개운동)        강원도 원주시 서원대로 387(개운동)  강원도 원주의료원
4  강원도  강릉시  경강로 2007(남문동 164-1)  강원도 강릉시 경강로 2007(남문동 164-1)  강원도 강릉의료원

In [113]:
#새로운 csv 만들기
addr_merge.to_csv('Address.csv', encoding = 'cp949', index = False)

In [115]:
#지도에 표시하기
import folium

cbGeoData = pd.read_csv('Address_new.csv', encoding = 'utf-8', engine = 'python')
mapCB = folium.Map(location = [37.5555038, 126.9737511], zoom_start = 15)

for i, arr in cbGeoData.iterrows() :
    #_Y는 위도 _X는 경도
    folium.Marker(location = [arr['_Y'], arr['_X']], 
                  popup = arr['field5'], icon = folium.Icon(color = 'red', icon = 'star')).add_to(mapCB)
mapCB.save('./hostipal_map.html')